iframe {
  display: block;
  background: transparent;
  border: none;
  height: 75%;
  width: 100%;
}

form {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.loader {
  margin: 0 auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.header-top {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #1b1e21;
  -webkit-box-shadow: 3px 11px 32px -13px #000000;
  box-shadow: 3px 11px 32px -13px #000000;
  background-color: #952a01;
  position: relative;
  z-index: 2;
}

.header-bg {
  height: 400px;
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.header-bg .logo {
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
  display: block;
  width: 310px;
  height: 80px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-bottom {
  padding: 5px;
  height: 70px;
  width: 100%;
  border-top: 1px solid #1b1e21;
  border-bottom: 1px solid #1b1e21;
  -webkit-box-shadow: 3px 11px 32px -13px #000000;
  box-shadow: 3px 11px 32px -13px #000000;
  background-color: #952a01;
  position: relative;
  z-index: 2;
}

.header-hashtag {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  margin-left: 5%;
  vertical-align: middle;
}

.main {
  padding-top: 70px;
  position: relative;
}

.main-title {
  text-align: center;
}

.main-subtitle {
  margin-bottom: 60px;
  font-size: 2rem;
  text-align: center;
}

.main-subtitle span {
  color: #952a01;
  font-weight: 600;
}

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-groups {
  border-right: 5px solid #952a01;
  max-width: 77%;
  margin: 0;
  padding: 0 3% 0 3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-result {
  padding: 2%;
  margin: 0 3%;
  max-width: 300px;
  width: 100%;
  height: 250px;
  background: #952a01;
}

.main-result__title {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.main-result__action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-result__select {
  border-top: 0px;
  border-left: 0px;
  border-right: 0;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  background: transparent;
  margin: 0 auto;
  text-align: center;
}

.main-result__select > option {
  text-align: center;
  background: #000;
}

.separator {
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
}

.user-info {
  position: absolute;
  top: 50px;
  right: 50px;
}

.user-id, .user-total-count {
  margin-bottom: 10px;
  padding: 15px 25px;
  text-align: center;
  color: #fff;
  background-color: #555;
  font-weight: 600;
}

.user-id span, .user-total-count span {
  font-weight: 800;
}

.card {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card-header {
  background: #952a01;
  color: #fff;
  font-weight: 600;
}

.card-table {
  width: 100%;
}

.card-table tr {
  width: 100%;
}

.card-table th {
  padding: 10px;
}

.card-table td {
  width: 100%;
  padding: 3px 12px;
}

.card-table td:first-child {
  width: auto;
}

.card-table__flag {
  width: 40px;
  height: auto;
  border-radius: 0%;
  padding: 6px;
}

.conditions {
  padding-top: 40px;
  padding-bottom: 60px;
}

.conditions-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.conditions-descr {
  max-width: 77%;
  margin: 0;
  padding: 0 7% 0 3%;
}

.conditions-descr p {
  font-size: 18px;
  line-height: 24px;
}

.conditions-descr p span {
  font-size: 22px;
  font-weight: 600;
}

.conditions-title {
  font-weight: 600;
  font-size: 24px;
}

.conditions-cta {
  position: relative;
  padding: 2%;
  max-width: 23%;
  width: 100%;
}

.conditions-cta__ball {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 250px;
  height: 250px;
  z-index: -1;
  background-image: url(../img/ball.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.conditions-cta__button {
  padding: 20px 35px;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #952a01;
  border: 2px solid #000;
}

.conditions-cta__button:hover {
  background-color: #fa4702;
}

@media (max-width: 767px) {
  .header-bottom {
    padding: 20px;
  }
  .header-hashtag {
    font-size: 28px;
  }
}

@media (max-width: 575px) {
  .header-bottom {
    padding: 23px;
  }
  .header-hashtag {
    margin-left: 0;
    font-size: 18px;
  }
}
